---
const {
  title = "Connect with Me",
  description = "Interested in collaborating? Reach out via email or find me on the platforms below.",
} = Astro.props;
---

<section id="connect" class="py-16 bg-slate-800 text-white">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold mb-4">{title}</h2>
    <p class="text-slate-200 mb-6 max-w-2xl mx-auto">{description}</p>

    <div class="flex flex-wrap justify-center gap-4">
      <a
        href="mailto:074bct544.sunil@pcampus.edu.np"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://img.icons8.com/?size=96&id=P7UIlhbpWzZm&format=png"
          alt="Email"
          class="w-6 h-6"
        />
        <span class="text-sm">Email</span>
      </a>

      <a
        href="https://github.com/Shrest4647"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg"
          alt="GitHub"
          class="w-6 h-6"
        />
        <span class="text-sm">GitHub</span>
      </a>

      <a
        href="https://linkedin.com/in/shrest"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg"
          alt="LinkedIn"
          class="w-6 h-6"
        />
        <span class="text-sm">LinkedIn</span>
      </a>

      <a
        href="https://twitter.com/4647sunil"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg"
          alt="Twitter"
          class="w-6 h-6"
        />
        <span class="text-sm">Twitter</span>
      </a>

      <a
        href="https://dev.to/@shrest"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/devto.svg"
          alt="Dev.to"
          class="w-6 h-6"
        />
        <span class="text-sm">Dev.to</span>
      </a>

      <a
        href="https://www.youtube.com/c/@sunil"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg"
          alt="YouTube"
          class="w-6 h-6"
        />
        <span class="text-sm">YouTube</span>
      </a>

      <a
        href="https://kaggle.com/shrest4647"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/kaggle.svg"
          alt="Kaggle"
          class="w-6 h-6"
        />
        <span class="text-sm">Kaggle</span>
      </a>

      <a
        href="https://stackoverflow.com/users/10908399/sunil-shrest"
        target="_blank"
        class="flex items-center gap-2 px-4 py-2 bg-white/10 rounded hover:bg-white/20"
      >
        <img
          src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg"
          alt="Stack Overflow"
          class="w-6 h-6"
        />
        <span class="text-sm">Stack Overflow</span>
      </a>
    </div>
  </div>
</section>
