---
const skillCategories = [
  {
    title: "Research & Machine Learning",
    skills: [
      {
        name: "Python",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg",
      },
      {
        name: "PyTorch",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/pytorch/pytorch-original.svg",
      },
      {
        name: "TensorFlow",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/tensorflow/tensorflow-original.svg",
      },
      {
        name: "NumPy",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/numpy/numpy-original.svg",
      },
      {
        name: "Pandas",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/pandas/pandas-original.svg",
      },
      {
        name: "Computer Vision",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/opencv/opencv-original.svg", // Using OpenCV as proxy or generic vision icon if YOLO specific not found
      },
    ],
  },
  {
    title: "Distributed Systems & Cloud",
    skills: [
      {
        name: "Kubernetes",
        logo: "https://www.vectorlogo.zone/logos/kubernetes/kubernetes-icon.svg",
      },
      {
        name: "Docker",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg",
      },
      {
        name: "Terraform",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/terraform/terraform-original.svg",
      },
      {
        name: "AWS",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/amazonwebservices/amazonwebservices-original-wordmark.svg",
      },
      {
        name: "Azure",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/azure/azure-original.svg",
      },
      {
        name: "GCP",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/googlecloud/googlecloud-original.svg",
      },
      {
        name: "Oracle Cloud",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg",
      },
      {
        name: "Linux",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg",
      },
      {
        name: "Self-hosting",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/raspberrypi/raspberrypi-original.svg", // Using Raspberry Pi as proxy for self-hosting/server
      },
    ],
  },
  {
    title: "Development",
    skills: [
      {
        name: "Python",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg",
      },
      {
        name: "Go",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original-wordmark.svg",
      },
      {
        name: "JavaScript",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg",
      },
      {
        name: "Django",
        logo: "https://cdn.worldvectorlogo.com/logos/django.svg",
      },
      {
        name: "FastAPI",
        logo: "https://cdn.worldvectorlogo.com/logos/fastapi.svg",
      },
      {
        name: "React",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg",
      },
      {
        name: "C++",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg",
      },
      {
        name: "Postgres",
        logo: "https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg",
      },
    ],
  },
];
---

<section id="skills" class="py-12 bg-background">
  <div class="container mx-auto px-6">
    <h2 class="text-2xl md:text-3xl font-bold mb-8">Technical Skills</h2>

    <div class="space-y-10">
      {
        skillCategories.map((category) => (
          <div>
            <h3 class="text-xl font-semibold mb-4 text-slate-700 dark:text-slate-200">
              {category.title}
            </h3>
            <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-6 items-center">
              {category.skills.map((s: any) => (
                <div class="flex flex-col items-center gap-3 p-3 bg-slate-50 dark:bg-slate-200 rounded-lg shadow-sm hover:shadow md:py-6">
                  <img
                    src={s.logo}
                    alt={s.name}
                    class="w-12 h-12 object-contain"
                  />
                  <span class="text-sm text-slate-700 font-medium">
                    {s.name}
                  </span>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
